<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<% if @student.avatar_file_name != nil %>
	<%= image_tag @student.avatar.url(:thumb) %>
<% end %>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @student.subject %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @student.grade %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
